#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=ibus-setup
Exec=<%= node['oracle_commerce']['platform']['path'] %>/home/bin/startACC
Name[en_US]=ATG Control Center
Name=ATG Control Center
Icon=ibus-setup