export ATG_HOME=<%= "#{node['oracle_commerce']['platform']['path']}/home" %>
export ATGJRE=`which java`
export DYNAMO_HOME=<%= "#{node['oracle_commerce']['platform']['path']}/home" %>
export DYNAMO_ROOT=<%= node['oracle_commerce']['platform']['path'] %>