# Thu Jul 03 10:07:26 EDT 2014
# Replay feature output
# ---------------------
# This file was built by the Replay feature of InstallAnywhere.
# It contains variables that were set by Panels, Consoles or Custom Code.



#Choose Install Folder
#---------------------
USER_INSTALL_DIR=<%= node['oracle_commerce']['platform']['path'] %>