# Thu Jul 03 09:58:02 EDT 2014
# Replay feature output
# ---------------------
# This file was built by the Replay feature of InstallAnywhere.
# It contains variables that were set by Panels, Consoles or Custom Code.

#Choose Install Folder
#---------------------
USER_INSTALL_DIR=<%= node['oracle_commerce']['platform']['path'] %>

#Product Selection Console
#-------------------------
CHOSEN_INSTALL_FEATURE_LIST=<%= node['oracle_commerce']['platform']['feature_list'] %>

#Select Application Server
#-------------------------
SELECTED_APP_SERVER=\"\",\"\",\"\",\"\",\"Skip server selection\"

#Install
#-------
-fileOverwrite_/app/oracle/product/atg/.ASE11.0_config/config/setup_rule.xml=Yes
-fileOverwrite_/app/oracle/product/atg/.ASE11.0_config/config/j2ee_deploy_setup_rule.xml=Yes
-fileOverwrite_/app/oracle/product/atg/.ASE11.0_config/lib/ATGIAPlatformlib.jar=Yes
-fileOverwrite_/app/oracle/product/atg/.ASE11.0_config/lib/vendorlibs.jar=Yes
-fileOverwrite_/app/oracle/product/atg/.ASE11.0_config/bin/getlicense.sh=Yes
-fileOverwrite_/app/oracle/product/atg/.ASE11.0_config/bin/getlicense.bat=Yes
-fileOverwrite_/app/oracle/product/atg/uninstall/.ASE11.0_uninstall/Uninstall Oracle Commerce Platform 11.0.lax=Yes
