# Thu Jul 03 10:07:26 EDT 2014
# Replay feature output
# ---------------------
# This file was built by the Replay feature of InstallAnywhere.
# It contains variables that were set by Panels, Consoles or Custom Code.



#Choose Install Folder
#---------------------
USER_INSTALL_DIR=<%= node['oracle_commerce']['platform']['path'] %>

#Install
#-------
-fileOverwrite_/app/oracle/product/atg/CommerceReferenceStore/.CommerceReferenceStore_config/config/setup_rule.xml=Yes
-fileOverwrite_/app/oracle/product/atg/CommerceReferenceStore/.CommerceReferenceStore_config/lib/vendorlibs.jar=Yes
-fileOverwrite_/app/oracle/product/atg/CommerceReferenceStore/.CommerceReferenceStore_config/lib/ATGIAPlatformlib.jar=Yes
-fileOverwrite_/app/oracle/product/atg/CommerceReferenceStore/.CommerceReferenceStore_config/bin/getlicense.sh=Yes
-fileOverwrite_/app/oracle/product/atg/CommerceReferenceStore/.CommerceReferenceStore_config/bin/getlicense.bat=Yes
-fileOverwrite_/app/oracle/product/atg/CommerceReferenceStore/uninstall/.CommerceReferenceStore_uninstall/Uninstall Oracle Commerce Reference Store 11.0.1.lax=Yes
