<%= node['oracle_commerce']['platform_services']['http_port'] %>
<%= node['oracle_commerce']['platform_services']['shutdown_port'] %>
<%= node['oracle_commerce']['platform_services']['install_eac'] %>
<%= "#{node['oracle_commerce']['base_path']}/endeca/MDEX/#{node['oracle_commerce']['mdex']['version']}" %>
<%= node['oracle_commerce']['platform_services']['install_references'] %>