ENDECA_TOOLS_ROOT="<%= node['oracle_commerce']['base_path']%>/endeca/<%= node['oracle_commerce']['tools_frameworks']['oracle_home']%>/<%= node['oracle_commerce']['tools_frameworks']['version']%>"
export ENDECA_TOOLS_ROOT
ENDECA_TOOLS_CONF="<%= node['oracle_commerce']['base_path']%>/endeca/<%= node['oracle_commerce']['tools_frameworks']['oracle_home']%>/<%= node['oracle_commerce']['tools_frameworks']['version']%>/server/workspace"
export ENDECA_TOOLS_CONF